<!-- 이 코드를 복붙해서 사용해주세요 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<!-- top-header 추가 방법 -->
<head th:replace="~{common/header-top :: header-top-fragment}"><title>감자팀</title></head>
<style>
    @media (max-width: 500px) {
        .hidden-phone{
            display: none;
        }

        .long{
            cursor: pointer;
            white-space: nowrap;          /* 텍스트를 한 줄로 표시 */
            overflow: hidden;             /* 넘치는 텍스트를 숨김 */
            text-overflow: ellipsis;      /* 말줄임표(...)를 사용 */
            max-width: 80px;             /* 원하는 최대 너비를 설정 */
        }

    }
</style>
<body>
<!-- header 추가 방법 -->
<header th:replace="~{common/header :: header-fragment}"></header>
<!-- sidebar 추가 방법 -->
<aside th:replace="~{common/sidebar :: sidebar-fragment}"></aside>

<!-- 템플릿 html 파일에서 main 부분 가져와서 수정해주세요!-->
<main id="main" class="main">

    <div class="pagetitle">
        <h1>분실물 게시판</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">게시판</a></li>
                <li class="breadcrumb-item active">분실물 게시판</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">분실물 목록 <span>전체 게시물 : </span><span th:text="${list.size()}"></span></h5>
                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th class="hidden-phone">게시글 번호</th>
                                <th class="hidden-phone">작성자</th>
                                <th class="long">물건 이름</th>
                                <th class="hidden-phone">종 류</th>
                                <th class="long">습득위치</th>
                                <th class="hidden-phone">게시글 작성일자</th>
                                <th class="long">물건 사진</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="dto : ${list}">
                                <td class="hidden-phone" th:text="${dto.getMisNum()}"></td>
                                <td class="hidden-phone" th:text="${dto.getUserId()}"></td>
                                <td>
                                    <a th:text="${dto.getTitle()}" th:href="@{/missingBoard_cont(no=${dto.getMisNum()})}"></a>
                                </td>
                                <td class="hidden-phone" th:text="${dto.getMajorCategory()+'[ '+dto.getMinorCategory()+' ]'}"></td>
                                <td th:text="${dto.getLocation()}"></td>
                                <td class="hidden-phone" th:text="${dto.getCreatedAt().toString().substring(0,10)}"></td>
                                <td>
                                    <img th:src="${dto.getImgKey()}" width="50px" height="50px">
                                </td>
                            </tr>

                        </table>
                        <!-- End Table with stripped rows -->

                        <input type="button" class="btn btn-primary rounded-pill" value="게시글 작성" th:onclick="|location.href='@{/missingBoard_write_fix(no=${2})}'|">
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
<!-- -->

<!-- footer 추가 방법 -->
<footer th:replace="~{common/footer :: footer-fragment}"></footer>

</body>

</html>